In [43]:
import tabula
import PyPDF2
import pandas as pd
import os
from datetime import datetime

In [21]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
#pdfFile = open('celesc.pdf','rb')
#pdf = PyPDF2.PdfReader(pdfFile)

In [22]:
reader = PyPDF2.PdfReader('celesc-2023-09-02.pdf')
page = reader.pages[0]
txt = page.extract_text()
lista = txt.split('\n')
df = pd.DataFrame(lista)

In [23]:
reader = PyPDF2.PdfReader('celesc.pdf')
page = reader.pages[0]
txt = page.extract_text()
lista = txt.split('\n')
df2 = pd.DataFrame(lista)

In [25]:
string = "EMISSÃO:"
df = df.loc[df[0].str.contains(string)]
df2 = df2.loc[df2[0].str.contains(string)]

In [29]:
df

                                                                                                                                                      0
4  EMISSÃO: 18/08/2023 APRES.: 22/08/2023 NOTA FISCAL/CONTA DE ENERGIA ELÉTRICA - SÉRIE ÚNICA: 000.223.343.156 - FAT-01-202310606714882-95 REF.:08/2023

In [49]:
index = df.loc[df[0].str.contains(string)]
line = index.values[0][0]

date_string = line.split(":")[1].split(" ")[1] #'18/08/2023'
date_object = datetime.strptime(date_string, '%d/%m/%Y').date()

NotImplemented

In [27]:
df2

                                                                                                                                                     0
6  EMISSÃO: 16/02/2024 APRES.: 19/02/2024 NOTA FISCAL/CONTA DE ENERGIA ELÉTRICA - SÉRIE ÚNICA: 000.249.514.290 - FAT-01-202411136312055-5 REF.:02/2024

In [9]:
df[(df.index >60) & (df.index <100)]

                                                                                                                           0
61                                                                                                                     LIGUE
62                                                                                       0800 048 0120CONSUMO TOTAL FATURADO
63                                                                                                                 1.109 kWh
64                                                                                                    VALOR ATÉ O VENCIMENTO
65                                                                                                                 R$ 488,64
66                                                                                                                Mensagens:
67                                         Demonstrativos de Saldos em kWh referente a Mini e Micro Geração, conforme REN N¿
68                                         482/2012. Saldo Mês no (TP) Todos os Períodos 0, Saldo Acumulado no (TP) Todos os
69  Períodos 0, Saldo a Expirar Próximo Mês no (TP) Todos os Períodos 0.Dados do Faturamento Faturado Tarifa (R$) Valor (R$)
70                                                                                                             Subtotal (R$)
71                                                                                                    Lançamentos e Serviços
72                                                                                                 Subtotal (R$)Consumo Tusd
73                                                                                                              Consumo Tusd
74                                                                                                                Consumo Te
75                                                                                                                Consumo Te
76                                                                                                     Energia Injetada Tusd
77                                                                                                     Energia Injetada Tusd
78                                                                                                       Energia Injetada Te
79                                                                                                       Energia Injetada Te
80                                                                                                        Cosip Municipal150
81                                                                                                                       959
82                                                                                                                       150
83                                                                                                                       959
84                                                                                                                      -150
85                                                                                                                      -432
86                                                                                                                      -150
87                                                                                                              -4320,369000
88                                                                                                                  0,391345
89                                                                                                                  0,359400
90                                                                                                                  0,381168
91                                                                                                                  0,324733
92                                                                                                                  0,324815
93                                                                                                                  0,359400
94                                                                                                             0,38115755,35
95                                                                                                                    375,30
96                                                                                                                     53,91
97                                                                                                                    365,54
98                                                                                                                    -48,71
99                                                                                                                   -140,32

In [10]:
df.loc[df[0].str.contains("VALOR ATÉ O VENCIMENTO")].index.values[0]

64

In [43]:
df[df.index == 64+1]

            0
65  R$ 429,17

In [ ]:
class CelescBillPdfDataExtractor():
    __init__(this, pdfFilePath: str)